
<%= render partial: 'search_bar' %>

<div class="row">
  
  <hr>
  <div class="large-2 columns">
    <img src="http://placehold.it/400x300&text=[img]">
    <br>
    <img src="http://placehold.it/400x300&text=[img]">
    <br>
    <img src="http://placehold.it/400x300&text=[img]">
    <br>
    <img src="http://placehold.it/400x300&text=[img]">
  </div>
        
  <div class="large-5 columns">
    <img src="http://placehold.it/400x500">
  </div>
  
  <div class="large-5 columns">
    <h2> <%= @product.name %> </h2>
    <p> <%= @product.description %> </p>
    <p>
      Categories:
      <% @product.categories.each do |category| %>
        <%= link_to category.name, category_path(category) %>
      <% end %>
    </p>

    <div class="panel">
      <h5>Header</h5>
      <h6 class="subheader">Praesent placerat dui tincidunt elit suscipit sed.</h6>
      <a href="#" class="small button">Add to Cart</a>
    </div>

  </div>
</div>

<%= render partial: 'reccomendations' %>
